body {
  margin: 0;
}

html {
  background-color: rgb(250, 250, 250);
}

.header {
  color: black;
  margin: 0 20px;
}
.header a {
  text-decoration: none;
  color: black;
}
.header .header-nav {
  display: flex;
  background-color: #e6daa6;
  border-radius: 40px;
  max-width: 1800px;
  margin: 20px auto;
  position: relative;
}
.header .header-nav .header-nav-company {
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.header .header-nav .header-nav-company img {
  width: 34px;
  border: 10%;
}
.header .header-nav .header-nav-company p {
  font-size: 20px;
  margin-left: 10px;
}
.header .header-nav .header-nav-pages {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 167px;
  align-items: center;
  gap: 45px;
  border-radius: 20px;
}
.header .header-nav .header-nav-pages .header-nav-pages-elem {
  font-size: 20px;
  padding: 5px 10px;
  transition: 0.4s ease;
}
.header .header-nav .header-nav-pages .header-nav-pages-elem:hover {
  color: rgba(0, 0, 0, 0.5);
}
.header .header-nav .header-nav-pages .header-nav-pages-elem_active {
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
}
.header .header-nav .header-nav-pages .header-nav-pages-elem_active:hover {
  background-color: #b2aa84;
}
.header .header-nav .header-nav-account {
  display: flex;
  align-items: center;
  margin-right: 50px;
  z-index: 2;
}
.header .header-nav .header-nav-account img {
  width: 28px;
  padding: 8px;
  border-radius: 50%;
  background-color: #d3c99a;
}
.header .header-nav .header-nav-account img:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.header .header-nav .header-nav-account_active img {
  background-color: rgb(250, 250, 250);
}

.footer {
  max-width: 1200px;
  color: black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer .footer-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 50px 50px;
  border-top: 1px solid black;
  padding: 50px 30px;
}
.footer .footer-section .footer-section-rights {
  max-width: 179px;
}
.footer .footer-section .footer-section-rights p {
  font-size: 12px;
  margin-top: 10px;
  padding-left: 3px;
}
.footer .footer-section .footer-section-rights-company {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.footer .footer-section .footer-section-rights-company img {
  width: 34px;
}
.footer .footer-section .footer-section-rights-company p {
  font-size: 20px;
  margin: 0;
}
.footer .footer-section .footer-section-pages {
  display: flex;
  flex-direction: column;
}
.footer .footer-section .footer-section-pages p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}
.footer .footer-section .footer-section-pages a {
  font-size: 16px;
  margin: 10px 0;
  transition: 0.3s ease;
}
.footer .footer-section .footer-section-pages a:hover {
  color: rgb(132, 132, 132);
}
.footer .footer-section .footer-section-cooperation p {
  font-size: 20px;
  margin: 0;
  margin-bottom: 36px;
}
.footer .footer-section .footer-section-cooperation-media {
  display: flex;
  justify-content: center;
  width: 80px;
  flex-wrap: wrap;
  gap: 16px;
  margin: 10px auto;
  text-decoration: none;
}
.footer .footer-section .footer-section-cooperation-media img {
  width: 28px;
  transition: 0.3s ease;
}
.footer .footer-section .footer-section-cooperation-media img:hover {
  filter: invert(50%);
}

.hidden {
  display: none;
}

.good-end {
  background-color: rgba(80, 151, 80, 0.5) !important;
}

.bad-end {
  background-color: rgba(151, 80, 80, 0.5) !important;
}

.accountmenu-logged {
  width: 800px;
  margin: 50px auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: #e6daa6;
  border-radius: 30px;
  position: relative;
  font-size: 24px;
  text-align: center;
}
.accountmenu-logged .accountmenu-logged-logout {
  margin-top: auto;
  color: black;
}

.accountmenu-unlogged {
  width: 400px;
  margin: 50px auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e6daa6;
  border-radius: 30px;
  position: relative;
}
.accountmenu-unlogged .accountmenu-unlogged-title {
  font-size: 18px;
}
.accountmenu-unlogged .accountmenu-unlogged-btns {
  position: absolute;
  bottom: 0;
  width: 300px;
  display: flex;
  justify-content: center;
}
.accountmenu-unlogged .accountmenu-unlogged-btns:hover {
  cursor: pointer;
}
.accountmenu-unlogged .accountmenu-unlogged-form {
  width: 300px;
  margin-bottom: 50px;
}
.accountmenu-unlogged .accountmenu-unlogged-form .accountmenu-unlogged-form-title {
  font-size: 22px;
}
.accountmenu-unlogged .accountmenu-unlogged-form .accountmenu-unlogged-form-input {
  width: 90%;
  font-size: 18px;
  height: 25px;
  border: 1px solid #d3c99a;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px auto;
}
.accountmenu-unlogged .accountmenu-unlogged-form .accountmenu-unlogged-form-button {
  width: 75%;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #d3c99a;
  border: none;
}
.accountmenu-unlogged .accountmenu-unlogged-form .accountmenu-unlogged-form-button:hover {
  background-color: #b2aa84;
}

.hero-div {
  padding: 50px 20px;
  text-align: center;
}
.hero-div h1 {
  font-size: 38px;
  margin-bottom: 10px;
}
.hero-div p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.benefits-div {
  background-color: rgba(230, 218, 166, 0.2);
  padding: 50px 20px 80px 20px;
  text-align: center;
}
.benefits-div h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
.benefits-div .benefit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}
.benefits-div .benefit-container-elem {
  display: flex;
  gap: 20px;
}
.benefits-div .benefit {
  width: 180px;
  height: 180px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgb(250, 250, 250);
}
.benefits-div .benefit img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.call-to-action-div {
  padding: 80px 20px;
  text-align: center;
  border-top: 1px solid #eee;
}
.call-to-action-div h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.call-to-action-div p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.call-to-action-div .cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.call-to-action-div .register-button, .call-to-action-div .browse-tutorials-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  min-width: 200px;
  text-align: center;
  color: black;
}
.call-to-action-div .register-button {
  background-color: #e6daa6;
}
.call-to-action-div .register-button:hover {
  background-color: #d3c99a;
}

.interactions {
  width: 60%;
  margin: 60px auto;
  padding: 0 20px;
}
.interactions .interactions-form .interactions-form-group:nth-of-type(3) .interactions-form-group-input {
  height: 550px;
}
.interactions .interactions-form .interactions-form-title {
  font-size: 34px;
}
.interactions .interactions-form .interactions-form-message {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}
.interactions .interactions-form .interactions-form-group {
  display: flex;
  flex-direction: column;
}
.interactions .interactions-form .interactions-form-group .interactions-form-group-label {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 10px 0;
}
.interactions .interactions-form .interactions-form-group .interactions-form-group-input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.197);
  height: 60px;
  resize: none;
  font-size: 22px;
  padding: 10px 5px;
  margin-bottom: 20px;
}
.interactions .interactions-form .interactions-form-group .interactions-form-group-input:focus {
  outline: none;
}
.interactions .interactions-form .interactions-form-group button {
  width: 200px;
  font-size: 18px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.interactions .interactions-form .interactions-form-group-container {
  display: flex;
  flex-direction: column;
  order: -1;
  margin-bottom: 20px;
}
.interactions .interactions-form .interactions-form-questions .interactions-form-questions-elem {
  display: flex;
  align-items: center;
}
.interactions .interactions-form .interactions-form-questions .interactions-form-questions-elem .interactions-form-questions-elem-input {
  padding: 4px 8px;
  font-size: 18px;
  margin: 10px 0;
  width: 500px;
  resize: none;
}
.interactions .interactions-form .interactions-form-questions .interactions-form-questions-elem .interactions-form-questions-elem-check {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.interactions .interactions-form .interactions-form-questions .interactions-form-questions-btns {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.interactions .interactions-form .interactions-form-group-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}
.interactions .interactions-form .interactions-form-group-btns .interactions-form-group-btns-btn {
  display: block;
  width: 200px;
  font-size: 18px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.interactions .interactions-edit {
  border-top: 1px solid black;
}
.interactions .interactions-edit .interactions-delete-text {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.interactions .interactions-edit .interactions-edit-pencil {
  width: 28px;
  margin: 0 5px;
}
.interactions .interactions-create-chapter {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}
.interactions .interactions-create-chapter h3 {
  font-size: 24px;
}
.interactions .interactions-create-chapter input {
  padding: 8px;
  font-size: 18px;
  margin: 10px 0;
  width: 500px;
  resize: none;
}
.interactions .interactions-create-chapter button {
  width: 200px;
  font-size: 18px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.interactions .interactions-create-chapter p {
  font-size: 20px;
}
.interactions .interactions-edit-chapters h3 {
  font-size: 24px;
}

.interactions-edit-table {
  width: 100%;
  border-collapse: collapse;
}
.interactions-edit-table .interactions-edit-table-str .interactions-edit-table-str-title {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid black;
}
.interactions-edit-table .interactions-edit-table-str td {
  border: 1px solid black;
  padding: 5px;
}
.interactions-edit-table .interactions-edit-table-str td:nth-of-type(3), .interactions-edit-table .interactions-edit-table-str td:nth-of-type(4) {
  text-align: center;
}
.interactions-edit-table .interactions-edit-table-str .interactions-edit-table-str-btn button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

.interactions-edit-xsymbol {
  width: 14px;
  margin: 0 5px;
}

.lessons {
  width: 700px;
  margin: 50px auto;
}
.lessons .lessons-link {
  text-decoration: none;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #e6daa6;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lessons .lessons-link:hover {
  background-color: #d3c99a;
}
.lessons .lessons-list .lessons-list-elem {
  font-size: 24px;
  margin: 30px;
}
.lessons .lessons-list .lessons-list-elem a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}
.lessons .lessons-list .lessons-list-elem a:hover {
  color: rgba(0, 0, 0, 0.5);
}
.lessons .lessons-list .lessons-list-elem input {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.lessons .lessons-list .lessons-list-elem_block {
  color: rgba(0, 0, 0, 0.5);
}

.account-unlogged {
  position: relative;
}
.account-unlogged .account-unlogged-message {
  width: 375px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #e6daa6;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: 3;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}
.account-unlogged .account-unlogged-message .account-unlogged-message-title {
  font-size: 18px;
}
.account-unlogged .account-unlogged-message .account-unlogged-message-text {
  font-size: 24px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  transition: 0.2s ease;
}
.account-unlogged .account-unlogged-message .account-unlogged-message-text:hover {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.account-unlogged .account-unlogged-lessons {
  filter: blur(5px);
}

.lesson {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}
.lesson .lesson-href {
  text-decoration: none;
  color: black;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #e6daa6;
  border: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lesson .lesson-href:hover {
  background-color: #d3c99a;
}
.lesson .lesson-href img {
  width: 32px;
  rotate: 180deg;
}
.lesson .lesson-title {
  font-size: 34px;
}
.lesson .lesson-text {
  font-size: 24px;
  white-space: pre-wrap;
}
.lesson .lesson-text img {
  max-width: 80%;
  display: flex;
  margin: 20px auto -10px 0;
  justify-content: left;
}
.lesson .lesson-test .lesson-test-question {
  font-size: 28px;
}
.lesson .lesson-test .lesson-test-message {
  font-size: 30px;
}
.lesson .lesson-test .lesson-test-form .lesson-test-form-ul {
  padding: 0;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.lesson .lesson-test .lesson-test-form .lesson-test-form-ul .lesson-test-form-ul-li {
  display: flex;
  align-items: center;
}
.lesson .lesson-test .lesson-test-form .lesson-test-form-ul .lesson-test-form-ul-answer {
  font-size: 24px;
  max-width: 500px;
  white-space: pre-wrap;
}
.lesson .lesson-test .lesson-test-form .lesson-test-form-ul .lesson-test-form-ul-checkbox {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.lesson .lesson-test-form-button {
  margin: 20px 0;
  width: 250px;
  height: 45px;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  background-color: #e6daa6;
}
.lesson .lesson-test-form-button:hover {
  background-color: #d3c99a;
}
.lesson .lesson-test-nextlesson {
  height: 0;
  transition: 0.3s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lesson .lesson-test-nextlesson .lesson-test-nextlesson-container {
  display: flex;
  flex: 1;
  align-items: center;
}
.lesson .lesson-test-nextlesson .lesson-test-nextlesson-container:last-child {
  justify-content: right;
}
.lesson .lesson-test-nextlesson .lesson-test-nextlesson-title {
  font-size: 22px;
  margin: 0 10px;
}
.lesson .lesson-test-nextlesson .lesson-test-nextlesson-btn {
  text-decoration: none;
  color: black;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #e6daa6;
  border: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lesson .lesson-test-nextlesson .lesson-test-nextlesson-btn:hover {
  background-color: #d3c99a;
}
.lesson .lesson-test-nextlesson .lesson-test-nextlesson-btn img {
  width: 32px;
}

.hidden {
  display: none;
}

#general-message {
  transition: 0.3s ease;
  font-size: 20px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

#test-form {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}