@use 'variables';

body {
    margin: 0;
}
html {
    background-color: variables.$MainBackground;
}
.header {
    color: variables.$MainColorText;
    margin: 0 20px;
    a {
        text-decoration: none;
        color: variables.$MainColorText;
    }
    .header-nav {
        display: flex;
        flex-wrap: wrap;
        background-color: variables.$MainColor;
        border-radius: 40px;
        max-width: 1800px;
        margin: 20px auto;
        position: relative;
        justify-content: space-between;
        align-items: center;
        .header-nav-company {
            z-index: 1;
            display: flex;
            align-items: center;
            margin-left: 20px; 
            padding: 10px;
            box-sizing: border-box;
            img {
                width: 34px;
                border: 10%;
            }
            p {
                font-size: 20px;
                margin-left: 10px;
            }
        } 
        .header-nav-pages {
            z-index: 1;
            display: flex;
            justify-content: center; 
            align-items: center;
            gap: 20px; 
            border-radius: 20px;
            flex-wrap: wrap; 
            padding: 10px;
            box-sizing: border-box;
            .header-nav-pages-elem {
                font-size: 20px;
                padding: 5px 10px;
                transition: .4s ease;
                &:hover {
                    color: variables.$MainColorTextHover;
                }
            }
            .header-nav-pages-elem_active {
                background-color: variables.$MainBackground;
                border-radius: 20px;
                &:hover {
                    background-color: variables.$MainColorDark;
                }
            }
        }
        .header-nav-account {
            display: flex;
            align-items: center;
            margin-right: 20px; 
            z-index: 2;
            padding: 10px; 
            box-sizing: border-box;
            img {
                width: 28px;
                padding: 8px;
                border-radius: 50%;
                background-color: variables.$MainColorDarker;
                &:hover {
                background-color: variables.$MainColorTextHover;
                }
            }
            
        }
        .header-nav-account_active {
            img {
                background-color: variables.$MainBackground;
            }
        }
    } 
} 
@media (max-width: 768px) { 
    .header-nav {
    flex-direction: column;
    align-items: stretch; 
        .header-nav-company,
        .header-nav-pages,
        .header-nav-account {
            margin: 10px 0;
            padding: 10px; 
            justify-content: center; 
        }
        .header-nav-company {
            margin-left: 0 !important; 
        }
        .header-nav-pages {
            flex-direction: row; 
            flex-wrap: wrap;
        }
    }
}
.footer {
    max-width: 1200px;
    color: variables.$MainColorText;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    a {
        text-decoration: none;
        color: variables.$MainColorText;
    }
    .footer-section {
        width: 100% ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 0 0 50px 50px;
        border-top: 1px solid variables.$MainColorText;
        padding: 50px 30px;
        .footer-section-rights {
            max-width: 179px;
            p {
                font-size: 12px;
                margin-top: 10px;
                padding-left: 3px;
            }
            &-company {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                img {
                    width: 34px;
                }
                p {
                    font-size: 20px;
                    margin: 0;
                }
            }
        }
        .footer-section-pages {
            display: flex;
            flex-direction: column;
            p {
                font-size: 20px;
                margin: 0;
                margin-bottom: 20px;
            }
            a {
                font-size: 16px;
                margin: 10px 0;
                transition: 0.3s ease;
                &:hover {
                    color: rgb(132, 132, 132);
                }
            }
        }
        .footer-section-cooperation {
            p {
                font-size: 20px;
                margin: 0;
                margin-bottom: 36px;
            }
            &-media {
                display: flex;
                justify-content: center;
                width: 80px;
                flex-wrap: wrap;
                gap: 16px;
                margin: 10px auto;
                text-decoration: none;
                img {
                    width: 28px;
                    transition: 0.3s ease;
                    &:hover {
                        filter: invert(50%);
                    }
                }
            }
        }
    }
}

.hidden {
    display: none;
}

.good-end {
    background-color: rgb(80, 151, 80, 0.5) !important;
}
.bad-end {
    background-color: rgba(151, 80, 80, 0.5) !important;
}