$MainColorLight:rgb(230, 218, 166, 0.2);
$MainColorLighter:#e5ddba;
$MainColor: #e6daa6;
$MainColorDarker: #d3c99a;
$MainColorDark: #b2aa84;
$MainColorText: black;
$MainColorTextHover: rgba(0, 0, 0, 0.500);
$MainBackground: rgb(250, 250, 250);