{% extends 'pattern.html' %}
{% block main %}
{% if session['user_status'] == 'admin' %}
    <div class="interactions">
        <div class="interactions-create-chapter">
            <h3 class="interactions-create-chapter-title">Создать главу</h3>
            <div id="create-chapter-div">
                <input type="text" name="chapter-title" id="chapter-title" placeholder="Название главы" required>
                <button type="button" onclick="createChapter()">Создать</button>
            </div>
            <p id="chapter-message"></p>
        </div>
        <form method="post" class="interactions-form" enctype="multipart/form-data">
            <h1 class="interactions-form-title">Редактирование урока</h1>
            <p class="interactions-form-message" id="interactions-message"></p>
            <div class="interactions-form-group">
                <label for="chapter-select" class="interactions-form-group-label">Глава:</label>
                <select name="chapter-select" class="interactions-form-group-input">
                    <option value="">Без главы</option>
                    {% for chapter in chapters %}
                        <option value="{{ chapter.id }}" {% if lesson.chapter_id == chapter.id %}selected{% endif %}>{{ chapter.title }}</option>
                    {% endfor %}
                </select>
                <button type="button" onclick="toggleCreate()">Создать новую главу</button>
            </div>
            <div class="interactions-form-group">
                <label for="lesson-title" class="interactions-form-group-label">Название урока:</label>
                <textarea name="lesson-title" class="interactions-form-group-input" required>{{ lesson.title }}</textarea>  
            </div>
            <div class="interactions-form-group">
                <label for="lesson-text" class="interactions-form-group-label">Текст урока:</label>
                <textarea name="lesson-text" class="interactions-form-group-input" required>{{ lesson.text }}</textarea>
            </div>
            <div class="interactions-form-group">
                <label for="lesson-images" class="interactions-form-group-label">Изображения (можно несколько):</label>
                <input type="file" name="lesson-images" id="lesson-images" multiple accept="image/*" onchange="previewImages()">
                <p class="interactions-form-group-description">Выберите несколько изображений.  В тексте используйте теги [img:1], [img:2] и т.д. для вставки.</p>
                <div id="image-preview" class="image-preview-container"></div>
            </div>
            
            <div class="interactions-form-group add-question">
                {% for question in questions %}
                <div class="interactions-form-group-container">
                    <label for="lesson-questions" class="interactions-form-group-label question-title">Вопрос:</label>
                    <textarea name="lesson-question[{{ loop.index0 }}]" class="interactions-form-group-input">{{ question.question }}</textarea>
                    <div class="interactions-form-questions">
                        <p class="interactions-form-questions-title">Варианты ответов</p>
                        <p class="interactions-form-questions-title">Поставьте галочку у верных ответов</p>
                        <div class="interactions-form-questions-options" id="answer-options-[{{ loop.index0 }}]">
                            {% set indexForLoop = loop.index0 %}
                            {% for answer in question.answer_load %}
                            <div class="interactions-form-questions-elem">
                                <input type="checkbox" name="is-correct[{{indexForLoop}}]" class="interactions-form-questions-elem-check" value="{{loop.index}}"{% if loop.index|string in question.isCorrect_load %}checked{% endif %}>
                                <textarea name="answer-text[{{indexForLoop}}]" class="interactions-form-questions-elem-input">{{ answer }}</textarea>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="interactions-form-questions-btns" onclick="addAnswer('{{ loop.index0 }}')">Добавить вариант</button>
                        <button type="button" class="interactions-form-questions-btns" onclick="removeAnswer('{{ loop.index0 }}')">Удалить вариант</button>
                    </div>
                </div>
                {% endfor %}
                <div class="interactions-form-questions-btns-container">
                    <button type="button" class="interactions-form-questions-btns" onclick="addQuestion()">Добавить вопрос</button>
                    <button type="button" class="interactions-form-questions-btns" onclick="removeQuestion()">Удалить вопрос</button>
                </div>
            </div>
            <input type="number" name="question-count" id="question-count" value="{{ questions|length }}" class="hidden">
            <div class="interactions-form-group-btns">
                <button type="submit" class="interactions-form-group-btns-btn" id="editor-btn-submit" onclick="editorSubmit('{{lesson.id}}', event)">Сохранить</button>
            </div>
        </form>
        <div class="interactions-edit">
            <h2 class="interactions-delete-title">Удаление и изменение урока</h2>
            <p class="interactions-delete-text">Нажмите <img src="../static/img/x-symbol.svg" alt="" class="interactions-edit-xsymbol"> чтобы удалить и <img src="../static/img/pencil-edit.svg" alt="" class="interactions-edit-pencil"> чтобы отредактировать</p>
            <table class="interactions-edit-table">
                    <tr class="interactions-edit-table-str">
                        <td class="interactions-edit-table-str-title">id</td>
                        <td class="interactions-edit-table-str-title">Название</td>
                        <td class="interactions-edit-table-str-title">Глава</td> 
                        <td class="interactions-edit-table-str-title" colspan="2">Изменения</td>
                    </tr>
                {% for lesson in lessons%}
                    <tr class="interactions-edit-table-str" id="interactions-edit-table-str{{lesson.id}}">
                        <td class="interactions-edit-table-str-id">{{ lesson.id }}</td>
                        <td class="interactions-edit-table-str-lesson">{{ lesson.title }}</td>
                        <td class="interactions-edit-table-str-lesson">
                            {% if lesson.chapter %}
                                {{ lesson.chapter.title }}
                            {% else %}Без главы
                            {% endif %}
                        </td>
                        <td class="interactions-edit-table-str-edit"><a href="{{url_for('lessonedit', lesson_id=lesson.id)}}"> <img src="../static/img/pencil-edit.svg" alt="" class="interactions-edit-pencil"></a></td>
                        <td class="interactions-edit-table-str-btn"><button onclick="deleteLesson('{{lesson.id}}')"><img src="../static/img/x-symbol.svg" alt="" class="interactions-edit-xsymbol"></button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="interactions-edit-chapters">
        <h3 class="interactions-edit-chapters-title">Управление главами</h3>
        <table class="interactions-edit-table">
            <tr class="interactions-edit-table-str">
                <td class="interactions-edit-table-str-title">ID</td>
                <td class="interactions-edit-table-str-title">Название</td>
                <td class="interactions-edit-table-str-title">Удаление</td>
            </tr>
            {% for chapter in chapters %}
                <tr class="interactions-edit-table-str" id="chapter-row-{{chapter.id}}">
                    <td class="interactions-edit-table-str-id">{{ chapter.id }}</td>
                    <td class="interactions-edit-table-str-lesson">{{ chapter.title }}</td>
                    <td class="interactions-edit-table-str-btn"><button onclick="deleteChapter('{{chapter.id}}')"><img src="../static/img/x-symbol.svg" alt="" class="interactions-edit-xsymbol"></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    <script src="../static/scripts/editor.js"></script>
{% else %}
    <script> window.location.href = "{{ url_for('index')}}"</script>
{% endif %}
{% endblock %}